body {
    background-color: #2b2a2a;
    font-size: 14px;
     min-height: 100vh;
        margin: 0;

    display: flex;
    flex-direction: column;
}

h1 {
    color: #2901b9;
    font-size: 3em;
    font-family: 'Arial Black', sans-serif;
    -webkit-text-stroke: 1px rgb(255, 255, 255);
    text-align: center;
}

main {
  flex: 1;
}

footer {
    background-color: #2901b9;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    height: 50px;
}